/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    LABGeM/PanGBank-annotator Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Clustering input options
    input                      = null
    run_clustering             = true
    run_annotation             = true
    release                    = null
    collection                 = 'GTDB_all'
    test_data                  = null
    test_release_id            = 'rtest'
    pangbank_root              = '/env/export/pangbank_data/prod'
    pangbank_api_url           = 'https://pangbank-api.genoscope.cns.fr'
    levels                     = 'deep,50,80'
    deep_approx_id             = 0
    member_cover               = 80
    evalue                     = '0.00001'
    diamond_memory             = '200G'
    compression                = 'zstd'
    keep_raw_clusters         = false
    run_cluster_correction     = true

    // Annotation options
    annotation_tools           = 'interpro,deepkoala,eggnog,amrfinder'
    all_protein_tools          = 'amrfinder'
    keep_raw_annotations       = false
    annotation_chunk_size      = 80000
    db_root                    = null

    interpro_apps              = 'Pfam,NCBIFAM'
    interpro_mode              = 'imported'
    interpro_pfam_version      = '38.2'
    interpro_ncbifam_version   = '19.0'
    interproscan6_version      = '6.0.1'
    interproscan6_interpro_version = '109.0'
    interproscan6_datadir      = params.db_root ? "${params.db_root}/interproscan/interproscan6_data" : '/env/export/labgem_bank/WP3/interproscan/interproscan6_data'
    interproscan6_batch_size   = 100000
    interproscan6_sub_batch_size = 5000
    interproscan6_no_matches_api = false
    interproscan6_skip_version_check = true
    interproscan6_cpus         = 2

    panannotator_container     = 'ghcr.io/labgem/pangbank-annotator:dev'
    amrfinder_container        = 'ncbi/amr:4.2.7-2026-05-15.1'
    hmmer_container            = 'interpro/hmmer:3.3'
    database_setup_container   = 'ghcr.io/labgem/pangbank-annotator:dev'
    deepkoala_resources        = params.db_root ? "${params.db_root}/deepkoala/resources" : '/env/export/labgem_bank/WP3/deepkoala/resources'
    deepkoala_workdir          = null
    deepkoala_cli_module       = 'deepkoala.cli'
    deepkoala_container        = 'ghcr.io/labgem/deepkoala:dev'
    deepkoala_model            = 'full'
    deepkoala_date             = 'latest'
    deepkoala_batch_size       = 128
    deepkoala_num_workers      = 4
    deepkoala_topk             = 1
    deepkoala_detail           = true
    deepkoala_use_gpu          = false

    eggnog_data_dir            = params.db_root ? "${params.db_root}/eggnog/5.0.2" : '/env/export/labgem_bank/WP3/eggnog/5.0.2/'
    eggnog_search_mode         = 'diamond'
    eggnog_mapper_db           = params.db_root ? "${params.db_root}/eggnog/5.0.2/eggnog_proteins.dmnd" : '/env/export/labgem_bank/WP3/eggnog/5.0.2/eggnog_proteins.dmnd'
    amrfinder_db               = params.db_root ? "${params.db_root}/amrfinder" : '/env/export/labgem_bank/WP3/amrfinder'
    prepare_databases          = false
    skip_db_validation         = false
    db_manifest                = ''

    conda_cache_dir            = System.getenv('NXF_CONDA_CACHEDIR') ?: "${launchDir}/.nextflow/conda/envs"
    singularity_cache_dir      = System.getenv('NXF_SINGULARITY_CACHEDIR') ?: null
    apptainer_cache_dir        = System.getenv('NXF_APPTAINER_CACHEDIR') ?: System.getenv('NXF_SINGULARITY_CACHEDIR') ?: null
    container_mounts           = null
    container_pull_timeout     = '2 h'

    // Reference options
    igenomes_base              = 's3://ngi-igenomes/igenomes/'
    igenomes_ignore            = false

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Backwards compatibility for publishDir syntax
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/interproscan6_imported.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        conda.cacheDir          = params.conda_cache_dir
        conda.channels          = ['conda-forge', 'bioconda']
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        conda.cacheDir          = params.conda_cache_dir
        conda.channels          = ['conda-forge', 'bioconda']
    }
    local_tools {
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    slurm {
        process.executor        = 'slurm'
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // Keep architecture override available for modules with arm64 containers.
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.cacheDir    = params.singularity_cache_dir
        singularity.pullTimeout = params.container_pull_timeout
        singularity.autoMounts  = true
        singularity.runOptions  = params.container_mounts ? params.container_mounts.split(',').collect { "-B ${it.trim()}" }.join(' ') : ''
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.cacheDir      = params.apptainer_cache_dir
        apptainer.pullTimeout   = params.container_pull_timeout
        apptainer.autoMounts    = true
        apptainer.runOptions    = params.container_mounts ? params.container_mounts.split(',').collect { "-B ${it.trim()}" }.join(' ') : ''
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = "${params.container_mounts ? params.container_mounts.split(',').collect { "-B ${it.trim()}" }.join(' ') : ''} --nv"
        singularity.runOptions  = "${params.container_mounts ? params.container_mounts.split(',').collect { "-B ${it.trim()}" }.join(' ') : ''} --nv"
    }
    test      { includeConfig 'conf/test.config'      }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load LABGeM/PanGBank-annotator custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load LABGeM/PanGBank-annotator custom profiles from different institutions.
// Optional pipeline-specific institutional config can be enabled by setting params.custom_config_base.
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/panannotator.config" : "/dev/null"

// Do not set a global container registry. Some imported InterProScan 6 modules
// use Docker Hub image names such as interpro/hmmer, while BioContainers modules
// declare explicit quay.io or Galaxy Singularity depot URLs.

// Load igenomes.config if required
includeConfig !params.igenomes_ignore ? 'conf/igenomes.config' : 'conf/igenomes_ignored.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'LABGeM/PanGBank-annotator'
    contributors    = [
        [
            name: 'Yazid Hoblos',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/labgem/PanGBank-annotator'
    description     = """PANFAM clustering and annotation workflow for PanGBank pangenome family representatives"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = '0.1.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
