executor {
    queueSize = 400
    submitRateLimit = '15 / 1min'
}

process {
    withName: '.*INTERPROSCAN6_IMPORTED:INTERPROSCAN:.*' {
        containerOptions = "-B ${projectDir}/subworkflows/interproscan6/bin"
        clusterOptions = '--constraint=avx2'
        publishDir = [
            enabled: false,
            path: { "${params.outdir}/annotation/interpro/imported/intermediate" },
            mode: params.publish_dir_mode
        ]
    }
    withLabel: 'mem_min'        { memory = {  1.GB * task.attempt } }
    withLabel: 'mem_low'        { memory = {  2.GB * task.attempt } }
    withLabel: 'mem_medium'     { memory = {  4.GB * task.attempt } }
    withLabel: 'mem_high'       { memory = {  8.GB * task.attempt } }
    withLabel: 'mem_veryhigh'   { memory = { 12.GB * task.attempt } }
    withLabel: 'time_veryshort' { time   = { task.executor == "local" ? 24.h : 1.h  * task.attempt } }
    withLabel: 'time_short'     { time   = { task.executor == "local" ? 24.h : 2.h  * task.attempt } }
    withLabel: 'time_medium'    { time   = { task.executor == "local" ? 24.h : 4.h  * task.attempt } }
    withLabel: 'time_long'      { time   = { task.executor == "local" ? 24.h : 6.h  * task.attempt } }
    withLabel: 'dynamic'        { cpus   = { params.interproscan6_cpus } }

    withName: 'DOWNLOAD_INTERPRO|DOWNLOAD_DATABASE' {
        errorStrategy = 'retry'
    }
}
