/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else if (filename.endsWith('.html')) {
                    return 'multiqc_report.html'
                } else if (filename.endsWith('_data')) {
                    return 'multiqc_data'
                } else if (filename.endsWith('_plots')) {
                    return 'multiqc_plots'
                }
                return filename
            }
        ]
    }

    withName: FETCH_PANGBANK_COLLECTION {
        label = 'process_medium'
    }

    withName: DIAMOND_MAKEDB {
        label = 'process_high'
    }

    withName: DIAMOND_DEEPCLUST {
        label = 'process_deepclust'
    }

    withName: DIAMOND_RECLUSTER {
        label = 'process_deepclust'
    }

    withName: DIAMOND_REASSIGN {
        label = 'process_deepclust'
    }

    withName: PACKAGE_PANFAM {
        label = 'process_medium'
    }

}
